@font-face {
  font-family: 'SGL';
  font-style: normal;
  font-weight: normal;
  src: url('../SGL.otf') format('truetype');
}
body {
  font-family: 'SGL';
  font-size: 11px;
  color: $fontColor;
}
.p-wrapper {
  p{
    color: white;
    font: 15px/24px Georgia, serif;
  }
}
.footer{
  font-family: 'SGL',Tahoma;
  font-size: 9px;
  line-height: 25px;
}
.footer-nav{
  .bottom{
    li{
      font-size: 9px;
      letter-spacing: .18em;
      font-weight: 700;
    }
  }
}
