* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style: none; text-decoration: none;
}
.pillBody{
  width: 100%;
  // padding-top:75%;
  // height:100%;
  // display: block;

}

@media screen and (max-width: 1437px) and (min-width: 1025px){
  .container{
    // margin: 0 120px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 426px){
   .pillBox{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 426px) {
  // body{background-image: none;}
  .container{
    margin: 0;
  }
}
@media screen and (min-width: 1900px) {
  .container{
  
  }
}
