* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style: none; text-decoration: none;
}
.pillBody{
  width: 100%;
  // padding-top:75%;
  // height:100%;
  // display: block;

}
// .container{
//   margin: 0px 240px;
//
// }
// @media screen and (max-width: 1437px) and (min-width: 1025px){
//   .container{
//     margin: 0 120px;
//   }
// }
// @media screen and (max-width: 1024px) and (min-width: 426px){
//   .container{
//     margin: 0;
//   }
// }
// @media screen and (max-width: 426px) {
//   // body{background-image: none;}
//   .container{
//     margin: 0;
//   }
// }
// @media screen and (min-width: 1900px) {
//   .container{
//     // margin: 0 ;
//     div.content-wrapper{width:1900px;}
//     div.home-wrapper{width:1900px;}
//     div.social-media{
//       max-width:1900px;width:1900px; justify-content: space-between;
//     }
//     div.footer-nav{max-width:1900px;width: 1900px;}
//   }
// }
